// @import "./mixins.scss";
// @import "./vars.scss";
.body {
    background-color: $colorbody;
}

.container {
    text-align: center;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.section-title {
    margin-bottom: 24px;
    @include fonts(14px, 700, 22px);
    @include flex-start;
    @media (min-width: 481px ) {
        @include fonts(16px, 700, 22px);
    }
    color: $titleColor;
    text-transform: uppercase;
    &::before{
        content: "-";
        color: $titleColor;
        width: 10px;
    }
}
.section-image{
    width: 100%;
    height: auto;
    margin-bottom: 38px;
    @media(min-width:641px){
        margin-bottom: 56px;
    }
    @media(min-width:993px){
        margin-bottom: 66px;
    }
}

.section-title--small {
    display: none;
    @include fonts($fontSizeSubtitle, $fontWeightBig, $lineHeight2);
    color: $titleColor;
    text-transform: uppercase;
    margin: 0;
    &::after {
        content: " -";
        color: $titleColor;
        width: 10px;
    }
    
}

.section-insta-position {
    padding: 47px 0 47px;
}

@media (min-width: 641px){
    .section-title--small {
        display: block;
    }
    .section-insta {
         background-color: rgb(0, 0, 0, 0.03);
    }
}

.section-title-flex {
display: flex;
justify-content: space-between;
align-items: flex-start;
}


.section-title--footer{
    color: $titleFooter;
    @include flex-center;
    &::before {
        content: " -";
        color: $titleFooter;
        width: 10px;
    }
}



