// @import "./mixins.scss";
// @import "./vars.scss";

.section-footer {
    min-width: 320px;
    background-color: $fillFooter;
    @include padding(37px, 47px);

    @media(min-width: 481px){
        @include padding(57px, 57px);
    }

    @media(min-width: 993px){
        @include padding(67px, 70px);
    }
}

.footer-info__text {
    color: $colorFooter;
    text-align: center;
    max-width: 685px;
    margin-left: auto;
    margin-right: auto;
    @include margin(1em, 2em);
    @include fonts($fontSizeMini, $fontWeightSmall, $lineHeight1);

    @media (min-width: 481px){
        @include fonts($fontSizeMini, $fontWeightSmall, $lineHeight1);
    }
    @media (min-width: 993px){
        @include fonts($fontSizeMax, $fontWeightSmall, $lineHeight5);
    }
}

.social {
    @include flex-center;
    
}

.social__item {
    @include flex-center;
    width: 34px;
    height: 34px;
    &:nth-child(1){
        @include circle($rss);
    }
    &:nth-child(2){
        @include circle($fb);
    }
    &:nth-child(3){
        @include circle($tw);
    }
    &:nth-child(4){
        @include circle($drib);
    }
    &:nth-child(5){
        @include circle($pin);
    }

}

.footer-contacts__menu{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 641px){
        flex-direction: row;
    }
}

.footer-contacts__item {
    margin-left: 10px;
@include fonts($fontSizeMedium, $fontWeightSmall, $lineHeight3);
color: $colorFooter;
}

.footer-contacts__item:not(:last-child){
    &::after{
        content: " / ";
        margin-left: 10px;
        
    }
}