// @import "./vars.scss";
// @import "./mixins.scss";

.header {
    @include flex-space-between;
    width: 100%;
    @media (min-width: 768px){
        .header-menu {
            margin-top: 42px;
        }
        .header-menu__burger {
            display: none;
        }
        .header-menu-nav{
            display: flex;
        } 
        .header-menu-nav__item {
            text-align: center;
        }
    }
    @media(min-width: 993px){
        .header-menu {
            margin-top: 45px;
        }
    }
    
}

.header-menu__burger {
    @include flex-center;
    width: 44px;
    height: 37px;
    background-color: $fillFooter;
    float: right;
    &--position {
        margin-top: 23px;
        margin-bottom: 28px;
    }
 } 
 
 .header-menu__burger__item {
    display: none;
 }

 .open{
    display: block;
 }

.header-menu-nav{
    @include flex-around;
    display: none;
    margin: 0 auto 20px;
    width: 100%;
    &__item {
        color: $titleColor;
        text-transform: uppercase;
    }
    @include fonts(11px, 400, 22px);
}

.header-menu__link {
    display: block;
}

.header-menu-nav__item{
    width: 100%;
    text-align: left;
}

.header-menu-nav__item:hover {
    background-color: #E5E5E5;
}

.header-menu__link{
    margin-left: 10px;
    color: $titleColor;
}

.header-menu-nav__item--color{
    color: $menuHover;
}

.blockopenmenu {
    display: flex;
    width: 210px;
    height: 190px;
    gap: 5px;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 60px;
    right: -1px;
    background-color: #F5F5F5;
    z-index: 5;
    margin: 0;

     }

     .main {
        position: relative;
        z-index: -1;
     }