@mixin flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start;
}

@mixin fonts($a, $b, $c ){
    font-size: $a;
    font-weight: $b;
    line-height: $c;
};

@mixin margin($a, $b){
margin-top: $a;
margin-bottom: $b;
}

@mixin padding($a, $b){
    padding-top: $a;
    padding-bottom: $b;
    }

@mixin grid{
    display: grid;
    column-gap: 21px;
    align-items: start;
    justify-items:flex-start;
    align-content:flex-start;
    justify-content:flex-start;
    grid-template-areas: 
    "a b"
    "a c"
    "a d";

    .post__img{
        grid-area: a;
        
    }
    .post__name {
        grid-area: b;
    }
    .post__detail{
        grid-area: c;
    }
    .post__text{
        grid-area: d;
    }

}

@mixin gridDesc {
    display: grid;
    column-gap: 21px;
    align-items: flex-start;
    justify-items: flex-start;
    align-content:flex-start;
    justify-content:flex-start;
    grid-template-areas: 
    "a b"
    "c d";

    .post:nth-child(1){
        grid-area: a;
    }
    .post:nth-child(2){
        grid-area: b;
    }
    .post:nth-child(3){
        grid-area: c;
    }
    .post:nth-child(4){
        grid-area: d;
    }
}

@mixin circle($color){
    border: 2px solid $color;
    border-radius: 50%;
    margin-right: 0.5em;
}
