*,
*::before,
*::after {
    box-sizing: border-box;
    transform-style: preserve-3d;
}

html {
    height: 100%;
}

body{
    margin: 0;
}

img,
picture,
video,
canvas,
svg
 {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: block;
    
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
    text-align: start;
}

h2 {
    margin: 0;
}
