.post{
    @media (min-width: 993px) {
        @include gridDesc
    }
}

.post-card {
    @include flex-column;
    @include margin(0, 28px);
    width: 100%;
    @media (min-width: 481px){
        @include margin(0, 32px);
        @include grid;
    }
}

.post__name{
    @include fonts($fontSizeMedium, $fontWeightBig, $lineHeight6);
    color: $titleColor;
    margin-top: 10px;
    @media (min-width: 481px) {
        margin-top: 0;
        @include fonts($fontSizeMax, $fontWeightBig, $lineHeight6);
    }

}

.post-card:last-child{
    display: none;
    @media(min-width: 481px){
        display: grid;
    }
}

.post__detail {
    color: $subtitleColor;
    @include fonts($fontSizeSmaller, $fontWeightSmall, $lineHeight1);
    @media (min-width: 481px) {
        @include fonts($fontSizeMini, $fontWeightSmall, $lineHeight1);
    }
}

.post__text{
color: $colorText;
@include fonts($fontSizeMedium, $fontWeightSmall, $lineHeight4);
display: none;
@media(min-width: 481px){
    display: flex;
}
}

