.insta {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-column-gap: 1vw;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.wrap{
    height: 220px;
    overflow: hidden;

}



