$colorbody: #fff;
$fillBurger: rgba(0, 0, 0, 0.0001);
$fillFooter: #000;
$titleColor: #4E4E4E;
$subtitleColor: #7C7C7C;
$titleFooter: #FEFEFE;
$colorFooter: #B9B9B9;
$colorText: #5C5C5C;

$menuHover: #57A4A4;
$menuFocus: #E5E5E5;

$rss: #F8902E;
$fb: #39599F;
$tw: #45B0E3;
$drib: #D97AB0;
$pin: #CC212C;

$fontWeightSmall: 400;
$fontWeightBig: 700;

$fontSizeSmaller: 11px;
$fontSizeMini: 12px;
$fontSizeSubtitle: 13px;
$fontSizeMedium: 14px;
$fontSizeMax: 16px;

$lineHeight1: 20px;
$lineHeight2: 22px;
$lineHeight3: 24px;
$lineHeight4: 26px;
$lineHeight5:28px;
$lineHeight6: 30px;





